@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000  !important;
    overflow: hidden;
    height: 100vh;
}

@layer utilities {
  @layer components {
    .transition {
      @apply transition-all delay-200 !duration-1000;
    }
    .card_stylings {
      @apply bg-EveningBlack/95 rounded-xl hover:bg-gradient-to-br hover:from-[#9F2B68]/10 hover:to-indigo-600/5;
    }
    .button {
      @apply bg-[#9F2B68] hover:bg-[#9F2B68]/60 transition rounded-xl text-MidNightBlack text-base font-medium px-8 py-2;
    }
    .input_stylings {
      @apply bg-DeepNightBlack text-SilverGray text-sm rounded-lg outline-none focus:ring-1 focus:ring-[#9F2B68] block w-full pl-10 p-2.5;
    }

    @font-face {
      font-family: 'cascadia-normal';
      src: url(/public/fonts/Cascadia.ttf);
    }
    @font-face {
      font-family: 'circular-light';
      src: url(/public/fonts/Circular-Light.otf);
    }
    @font-face {
      font-family: 'circular-normal';
      src: url(/public/fonts/Circular-Book.otf);
    }
    @font-face {
      font-family: 'circular-medium';
      src: url(/public/fonts/Circular-Medium.otf);
    }
    @font-face {
      font-family: 'circular-bold';
      src: url(/public/fonts/Circular-Bold.otf);
    }
  }
    @variants responsive {
      
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      
      .no-scrollbar {
          -ms-overflow-style: none;  
          scrollbar-width: none;  
      }

        
        ::-webkit-scrollbar {
            width: 5px;
            height: 4px;
        }
        
        
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
            border-radius: 10px;
        }
        
      
        ::-webkit-scrollbar-thumb {
            background: #9F2B68; 
            border-radius: 8px;
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #9F2B68; 
        }
    }

    .icon {
        animation-name: scale-icon;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
      
      @keyframes scale-icon {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.06);
        }
        100% {
          transform: scale(1);
        }
      }
  }
  /* antd css */
  .ant-progress-text{
    color:white !important
  }
  .ant-modal .ant-modal-content{
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    height: 200px;
  }
  .boxShodow:hover{
    box-shadow: rgba(159, 43, 104, 1) 0px 2px 5px -1px, rgba(159, 43, 104, 1) 0px 1px 3px -1px;
  }

.userIcon:focus-within #icon {
  color: #9F2B68; 
}
.mailIcon:focus-within #icon {
  color: #9F2B68; 
}
.textIcon:focus-within #icon {
  color: #9F2B68; 
}
